.Navbar{
    background-color: #1f1d1d;
    display: flex;
    flex-direction: row;
}
.Container{
    padding: 30px 50px;
}
.brand{
    color: whitesmoke;
    text-decoration: none;
    font-size: 35px;
    margin: 10px 80px 10px 100px;
}
.brand:hover{
    color: whitesmoke;
}
.lgt1{
    color: #a39898;
    background-color: #1f1d1d;
    margin: 30px 10px 30px 50px;
    border: none;
    font-size: 24px;
    position: relative;
    left: 1300px;
}
.lgt1:hover{
    color: whitesmoke;
}
