
.bg1{
    content: url('./bg.svg');
    width: 100%;
    height: 2300px;
    filter: blur(2px);    
}
#welcome{
    color: whitesmoke;
    position: absolute;
    top: 200px;
    left: 90px;
}

.frm1{
    width: 480px;
    height: 491px;
    position: absolute;
    padding: 15px 33px;
    top: 350px;
    left: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border-color: rgba(51, 121, 194, 0.58);
    border-width: 2px;
    border-style: solid;   
    
}
.frm1 h1{
    color: aliceblue;
}
.frm1 span{
    color: beige;
    font-size: 40px;
    
}
.frm1 label{
    color: rgb(245, 236, 225);
    font-size: 20px;
    margin: 10px 10px;
}
.frm1 input{
    border-radius: 0px;
    width: 400px;
}
.cta1 {
    position: relative;
    left: 140px;
    top: 40px;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta1 span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #193653;
   }
   
   .cta1 svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #193653;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta1:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta1:hover svg {
    transform: translateX(0);
   }
   
   .cta1:active {
    transform: scale(0.95);
   }
.container{
    margin-top: 20px;
}
.frm2{
    width: 480px;
    height: 528px;
    position: absolute;
    padding: 15px 33px;
    top: 350px;
    left: 1102px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border-color: rgba(51, 121, 194, 0.58);
    border-width: 2px;
    border-style: solid;   
    
}
.frm2 h1{
    color: aliceblue;
}
.frm2 span{
    color: beige;
    font-size: 40px;
    
}
.frm2 label{
    color: rgb(245, 236, 225);
    font-size: 20px;
    margin: 10px 10px;
}
.frm2 input{
    border-radius: 0px;
    width: 400px;
}
.cta2 {
    position: relative;
    left: 140px;
    top: 40px;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta2 span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #193653;
   }
   
   .cta2 svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #193653;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta2:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta2:hover svg {
    transform: translateX(0);
   }
   
   .cta2:active {
    transform: scale(0.95);
   }
.frm3{
    width: 480px;
    height: 292px;
    position: absolute;
    padding: 15px 33px;
    top: 1200px;
    left: 208px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border-color: rgba(51, 121, 194, 0.58);
    border-width: 2px;
    border-style: solid;   
    
}
.frm3 h1{
    color: aliceblue;
}
.frm3 span{
    color: beige;
    font-size: 40px;
    
}
.frm3 label{
    color: rgb(245, 236, 225);
    font-size: 20px;
    margin: 10px 10px;
}
.frm3 input{
    border-radius: 0px;
    width: 400px;
}
.cta3 {
    position: relative;
    left: 40px;
    top: 40px;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta3 span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #193653;
   }
   
   .cta3 svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #193653;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta3:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta3:hover svg {
    transform: translateX(0);
   }
   
   .cta3:active {
    transform: scale(0.95);
   }
.expenditure{
    position: relative;
    left:170px;
    top: 45px;
    font-size: 15px;
}
.frm4{
    width: 716px;
    height: 412px;
    position: absolute;
    padding: 15px 33px;
    top: 1200px;
    left: 1015px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border-color: rgba(51, 121, 194, 0.58);
    border-width: 2px;
    border-style: solid;   
    
}
.frm4 h1{
    color: aliceblue;
}
.frm4 span{
    color: beige;
    font-size: 40px;
    
}
.frm4 label{
    color: rgb(245, 236, 225);
    font-size: 20px;
    margin: 10px 10px;
}
.frm4 input{
    border-radius: 0px;
    width: 400px;
}
.cta4 {
    position: relative;
    left: 40px;
    top: 40px;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta4:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta4 span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #193653;
   }
   
   .cta4 svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #193653;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta4:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta4:hover svg {
    transform: translateX(0);
   }
   
   .cta4:active {
    transform: scale(0.95);
   }
.font-link {
    font-family: 'Raleway', cursive;
}
.not1{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 80px;
    left: 0px;
    color: aliceblue;
}
.frm5{
    width: 480px;
    height: 292px;
    position: absolute;
    padding: 15px 33px;
    top: 1800px;
    left: 208px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border-color: rgba(51, 121, 194, 0.58);
    border-width: 2px;
    border-style: solid;   
    
}
.frm5 h1{
    color: aliceblue;
}
.frm5 span{
    color: beige;
    font-size: 40px;
    
}
.frm5 label{
    color: rgb(245, 236, 225);
    font-size: 20px;
    margin: 10px 10px;
}
.frm5 input{
    border-radius: 0px;
    width: 400px;
}
.cta5 {
    position: relative;
    left: 40px;
    top: 40px;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta5:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta5 span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #193653;
   }
   
   .cta5 svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #193653;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta5:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta5:hover svg {
    transform: translateX(0);
   }
   
   .cta5:active {
    transform: scale(0.95);
   }
.balance{
    position: relative;
    left:170px;
    top: 45px;
    font-size: 15px;
}